@model pcg.Models.SitesModel

@{
    ViewData["Title"] = "Sites";
} 
<head>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<div>
<h1 style="text-align:center">Site Approval</h1>
</div>
<table class="table table-hover table-responsive-sm table-sm">
    <thead>
        <tr>
            <th class="text-center text-uppercase">Client</th>
            <th class="text-center text-uppercase">Site</th>
            <th class="text-center text-uppercase">Status</th>
            <th class="text-center text-uppercase">Action</th>
        </tr>
    </thead>
    <tbody id="myTable">
        @foreach (System.Data.DataRow dr in ViewBag.Sitelist.Rows)
        {
            <tr class="row-click" onclick="toggleRows(this)">
                <td class="text-center text-nowrap">@dr["Client"].ToString()</td>
                <td class="text-center text-nowrap">@dr["Site"].ToString()</td>
                <td class="text-center text-nowrap">@dr["Status"].ToString()</td>
                <td class="text-center text-nowrap">
                    <form asp-action="SiteApprove" method="post">                
                        <input type="hidden" asp-for="SiteId" value="@dr["SiteId"].ToString()" />
                        <input type="submit" value="Approve" class="btn btn-primary"/>
                    </form>
                </td>
        </tr>
        }
    </tbody>
</table>